.App {
  text-align: center;
  flex: 1;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 50px;
}

.App-intro {
  font-size: large;
}

.logIn{
  width: 200px;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  text-align: center;
  font-size: 16px;
  margin-top: 10%;
  padding: 15px 32px;
  border-radius: 8px;

}

.logIn:hover {
  background-color: #008CBA;
  color: white;
}

.mainContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.userContainer {
  display: flex;
  flex: 1 1 5%;
  display: block;
}
